name: "Deploy to Production (prod-gcp)"

on:
  workflow_run:
    workflows: ["Build code and run tests"]
    branches: [main]
    types:
      - completed
  workflow_dispatch:

env:
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}/${{ github.event.repository.name }}

jobs:
  build-image:
    name: "Build Image for Deploy"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
    steps:
      - uses: actions/checkout@v3

      - name: "Build"
        uses: navikt/sosialhjelp-ci/actions/build-node@v12
        with:
          reader-token: ${{ secrets.READER_TOKEN }}
          run-test: "false"
          node-version: "22"

      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: teamdigisos
          build_secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  deploy-app:
    name: "Deploy Application"
    runs-on: ubuntu-latest
    needs: build-image
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: "Deploy to production"
        uses: nais/deploy/actions/deploy@v2
        env:
          RESOURCE: nais/prod/prod.yaml
          CLUSTER: prod-gcp
          REF: ${{ github.sha }}
          PRINT_PAYLOAD: true
          VAR: image=${{ needs.build-image.outputs.image }}
